@using System.Web.Optimization


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Mobile Web-app fullscreen -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">

    <!-- Meta tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <!--Title-->
    <title>Divano - Furniture HTML Template</title>

    <!--CSS bundle -->
    <link rel="stylesheet" media="all" href="Content/bootstrap.css" />
    <link rel="stylesheet" media="all" href="Content/animate.css" />
    <link rel="stylesheet" media="all" href="Content/font-awesome.css" />
    <link rel="stylesheet" media="all" href="Content/ion-range-slider.css" />
    <link rel="stylesheet" media="all" href="Content/linear-icons.css" />
    <link rel="stylesheet" media="all" href="Content/magnific-popup.css" />
    <link rel="stylesheet" media="all" href="Content/owl.carousel.css" />
    <link rel="stylesheet" media="all" href="Content/theme.css" />

    <!--Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&amp;subset=latin-ext" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>
    <!-- ======================== Navigation ======================== -->
    <div class="container">
        @Html.Partial("_Header")
    </div>
    <!-- ==========  Top navigation ========== -->
    <div class="navigation navigation-top clearfix">
        @Html.Partial("_TopHeader")
    </div>
    <!-- ==========  Main navigation ========== -->
    <div class="navigation navigation-main">
        @Html.Partial("_MainHeader")
    </div>


    <!-- То что не понятно , оптимизация под модилку и т.д.-->

    <div class="floating-menu">
        <!--mobile toggle menu trigger-->
        <div class="close-menu-wrapper">
            <span class="close-menu"><i class="icon icon-cross"></i></span>
        </div>
        <ul>
            <li>
                <a href="#">Home <span class="open-dropdown"><i class="fa fa-angle-down"></i></span></a>
                <div class="navbar-dropdown navbar-dropdown-single">
                    <div class="navbar-box">
                        <div class="box-full">
                            <div class="box clearfix">
                                <ul>
                                    <li class="label">Homepages</li>
                                    <li><a href="index.html">Home - Normal</a></li>
                                    <li><a href="index-2.html">Home - Icons category</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <a href="#">Pages <span class="open-dropdown"><i class="fa fa-angle-down"></i></span></a>
                <div class="navbar-dropdown navbar-dropdown-single">
                    <div class="navbar-box">
                        <div class="box-full">
                            <div class="box clearfix">
                                <ul>
                                    <li class="label">Addons</li>
                                    <li><a href="about.html">About us</a></li>
                                    <li><a href="contact.html">Contact</a></li>
                                    <li><a href="404.html">Not found 404</a></li>
                                    <li><a href="login.html">Login & Register</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <a href="#">Blog <span class="open-dropdown"><i class="fa fa-angle-down"></i></span></a>
                <div class="navbar-dropdown navbar-dropdown-single">
                    <div class="navbar-box">
                        <div class="box-full">
                            <div class="box clearfix">
                                <ul>
                                    <li class="label">Blog categories</li>
                                    <li><a href="blog-grid.html">Blog - grid</a></li>
                                    <li><a href="blog-list.html">Blog - list</a></li>
                                    <li><a href="blog-fullpage.html">Blog - fullpage</a></li>
                                    <li class="label">Blog articles</li>
                                    <li><a href="article.html">Article - single</a></li>
                                    <li><a href="article-2.html">Article - right menu</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <a href="#">Shop <span class="open-dropdown"><i class="fa fa-angle-down"></i></span></a>
                <div class="navbar-dropdown navbar-dropdown-single">
                    <div class="navbar-box">
                        <div class="box-full">
                            <div class="box clearfix">
                                <ul>
                                    <li class="label">Products</li>
                                    <li><a href="category.html">Product categories</a></li>
                                    <li><a href="products-grid.html">Products grid</a></li>
                                    <li><a href="products-list.html">Products list</a></li>
                                    <li><a href="products-topbar.html">Products topbar</a></li>
                                    <li><a href="product.html">Product overview</a></li>
                                    <li><a href="product-2.html">Product overview simple</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <a href="#">Checkout <span class="open-dropdown"><i class="fa fa-angle-down"></i></span></a>
                <div class="navbar-dropdown navbar-dropdown-single">
                    <div class="navbar-box">
                        <div class="box-full">
                            <div class="box clearfix">
                                <ul>
                                    <li class="label">Checkout</li>
                                    <li><a href="checkout-1.html">Checkout - Cart items</a></li>
                                    <li><a href="checkout-2.html">Checkout - Delivery</a></li>
                                    <li><a href="checkout-3.html">Checkout - Payment</a></li>
                                    <li><a href="checkout-4.html">Checkout - Receipt</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <a href="index.html">Boxmenu  <span class="open-dropdown"><i class="fa fa-angle-down"></i></span></a>
                <div class="navbar-dropdown">
                    <div class="navbar-box">
                        <div class="box-lg">
                            <div class="box clearfix">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <ul>
                                            <li class="label">Living Room</li>
                                            <li><a href="#">Sofas</a></li>
                                            <li><a href="#">Loveseats</a></li>
                                            <li><a href="#">Sectionals</a></li>
                                            <li><a href="#">Chairs & Chaises</a></li>
                                            <li class="more"><a href="#"><i class="icon icon-chevron-right"></i> More</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-lg-4">
                                        <ul>
                                            <li class="label">Packages</li>
                                            <li><a href="#">Recliners</a></li>
                                            <li><a href="#">Ottomans</a></li>
                                            <li><a href="#">Cabinets</a></li>
                                            <li><a href="#">Entertainment</a></li>
                                            <li class="more"><a href="#"><i class="icon icon-chevron-right"></i> More</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-lg-4">
                                        <ul>
                                            <li class="label">Dining</li>
                                            <li><a href="#">Dining Packages</a></li>
                                            <li><a href="#">Dining Tables</a></li>
                                            <li><a href="#">Dining Chairs</a></li>
                                            <li><a href="#">Dining Benches</a></li>
                                            <li class="more"><a href="#"><i class="icon icon-chevron-right"></i> More</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-lg-4">
                                        <ul>
                                            <li class="label">TV & Video</li>
                                            <li><a href="#">TVs</a></li>
                                            <li><a href="#">DVD & Blu-ray Players</a></li>
                                            <li><a href="#">Home Audio & Theater</a></li>
                                            <li><a href="#">TVs Accessories</a></li>
                                            <li class="more"><a href="#"><i class="icon icon-chevron-right"></i> More</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-lg-4">
                                        <ul>
                                            <li class="label">Bedroom</li>
                                            <li><a href="#">King Beds</a></li>
                                            <li><a href="#">Queen Beds</a></li>
                                            <li><a href="#">Storage Beds</a></li>
                                            <li><a href="#">Daybeds & Futons</a></li>
                                            <li class="more"><a href="#"><i class="icon icon-chevron-right"></i> More</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-lg-4">
                                        <ul>
                                            <li class="label">Storages</li>
                                            <li><a href="#">Dressers & Chests</a></li>
                                            <li><a href="#">Night Tables</a></li>
                                            <li><a href="#">Mirrors</a></li>
                                            <li><a href="#">Armoires</a></li>
                                            <li class="more"><a href="#"><i class="icon icon-chevron-right"></i> More</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="box-sm">
                            <div class="image">
                                <img src="assets/images/m-1.jpg" alt="Alternate Text" />
                            </div>
                            <div class="box">
                                <div class="h4">Premium quality</div>
                                <div class="clearfix">
                                    <p>Homes that differ in terms of style, concept and architectural solutions have been furnished by Furniture Factory. These spaces tell of an international lifestyle that expresses modernity, research and a creative spirit.</p>
                                    <a class="btn btn-clean btn-big" href="products-grid.html">Shop now</a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </li>

            <li>
                <a href="#">Megamenu <span class="open-dropdown"><i class="fa fa-angle-down"></i></span></a>
                <div class="navbar-dropdown">
                    <div class="navbar-box">
                        <div class="box-full">
                            <div class="box clearfix">
                                <div class="row">
                                    <div class="col-lg-3">
                                        <ul>
                                            <li class="label">Packages</li>
                                            <li><a href="#">Recliners</a></li>
                                            <li><a href="#">Ottomans</a></li>
                                            <li><a href="#">Cabinets</a></li>
                                            <li><a href="#">Entertainment</a></li>
                                            <li class="more"><a href="#"><i class="icon icon-chevron-right"></i> More</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-lg-3">
                                        <ul>
                                            <li class="label">Dining</li>
                                            <li><a href="#">Dining Packages</a></li>
                                            <li><a href="#">Dining Tables</a></li>
                                            <li><a href="#">Dining Chairs</a></li>
                                            <li><a href="#">Dining Benches</a></li>
                                            <li class="more"><a href="#"><i class="icon icon-chevron-right"></i> More</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-lg-3">
                                        <ul>
                                            <li class="label">TV & Video</li>
                                            <li><a href="#">TVs</a></li>
                                            <li><a href="#">DVD & Blu-ray Players</a></li>
                                            <li><a href="#">Home Audio & Theater</a></li>
                                            <li><a href="#">TVs Accessories</a></li>
                                            <li class="more"><a href="#"><i class="icon icon-chevron-right"></i> More</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-lg-3">
                                        <ul>
                                            <li class="label">Bedroom</li>
                                            <li><a href="#">King Beds</a></li>
                                            <li><a href="#">Queen Beds</a></li>
                                            <li><a href="#">Storage Beds</a></li>
                                            <li><a href="#">Daybeds & Futons</a></li>
                                            <li class="more"><a href="#"><i class="icon icon-chevron-right"></i> More</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-lg-3">
                                        <ul>
                                            <li class="label">Storages</li>
                                            <li><a href="#">Dressers & Chests</a></li>
                                            <li><a href="#">Night Tables</a></li>
                                            <li><a href="#">Mirrors</a></li>
                                            <li><a href="#">Armoires</a></li>
                                            <li class="more"><a href="#"><i class="icon icon-chevron-right"></i> More</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-lg-3">
                                        <ul>
                                            <li class="label">Office</li>
                                            <li><a href="#">Desks & Hutches</a></li>
                                            <li><a href="#">Office Chairs</a></li>
                                            <li><a href="#">Filing Cabinets</a></li>
                                            <li><a href="#">Bookcases</a></li>
                                            <li class="more"><a href="#"><i class="icon icon-chevron-right"></i> More</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-lg-3">
                                        <ul>
                                            <li class="label">Floor Care</li>
                                            <li><a href="#">Upright Vacuums</a></li>
                                            <li><a href="#">Stick Vacuums</a></li>
                                            <li><a href="#">Robotic Vacuums</a></li>
                                            <li><a href="#">Handheld Vacuums</a></li>
                                            <li class="more"><a href="#"><i class="icon icon-chevron-right"></i> More</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-lg-3">
                                        <ul>
                                            <li class="label">Kids</li>
                                            <li><a href="#">Full Beds</a></li>
                                            <li><a href="#">Twin Beds</a></li>
                                            <li><a href="#">Chests & Dressers</a></li>
                                            <li><a href="#">Baby Furniture</a></li>
                                            <li class="more"><a href="#"><i class="icon icon-chevron-right"></i> More</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>

            <li class="nav-settings">
                <a href="javascript:void(0);"><span class="nav-settings-value">USD</span> <span class="open-dropdown"><i class="fa fa-angle-down"></i></span></a>
                <div class="navbar-dropdown navbar-dropdown-single">
                    <div class="navbar-box">
                        <div class="box-full">
                            <div class="box clearfix">
                                <ul class="nav-settings-list">
                                    <li><a href="javascript:void(0);">USD</a></li>
                                    <li><a href="javascript:void(0);">EUR</a></li>
                                    <li><a href="javascript:void(0);">GBP</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="nav-settings">
                <a href="javascript:void(0);"><span class="nav-settings-value">ENG</span> <span class="open-dropdown"><i class="fa fa-angle-down"></i></span></a>
                <div class="navbar-dropdown navbar-dropdown-single">
                    <div class="navbar-box">
                        <div class="box-full">
                            <div class="box clearfix">
                                <ul class="nav-settings-list">
                                    <li><a href="javascript:void(0);">ENG</a></li>
                                    <li><a href="javascript:void(0);">GER</a></li>
                                    <li><a href="javascript:void(0);">لعربية</a></li>
                                    <li><a href="javascript:void(0);">עִבְרִית</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>

    <!-- ========================  Header content ======================== -->

    <section class="header-content">
        <!--Html.Partial("_Header_content")-->
        @RenderBody()
    </section>

    <!-- ================== Footer  ================== -->

        <footer>

            <div class="container-fluid">

                <div class="footer-wrap">

                    <div class="container">
                        @Html.Partial("_Footer")}
                    </div>
                </div>
            </div>
        </footer>


        <!--Scripts -->
        <script src="js/jquery.min.js"></script>
        <script src="js/bootstrap.js"></script>
        <script src="js/ion.rangeSlider.js"></script>
        <script src="js/magnific-popup.js"></script>
        <script src="js/owl.carousel.js"></script>
        <script src="js/tilt.jquery.js"></script>
        <script src="js/jquery.easypiechart.js"></script>
        <script src="js/bigtext.js"></script>
        <script src="js/main.js"></script>


</body>
</html>